<div>
  <div id="table">
  <table cellpadding="0" cellspacing="0"  height="100%">
    <tr>
    <td class="droppable"><img class="draggable" id="1" src="assets/Chessfigures/bR.svg" alt="" draggable="true"></td>
    <td class="droppable"><img class="draggable" id="2" src="assets/Chessfigures/bN.svg" alt="" draggable="true"></td>
    <td class="droppable"><img class="draggable" id="3" src="assets/Chessfigures/bB.svg" alt="" draggable="true"></td>
    <td class="droppable"><img class="draggable" id="4" src="assets/Chessfigures/bQ.svg" alt="" draggable="true"></td>
    <td class="droppable"><img class="draggable" id="5" src="assets/Chessfigures/bK.svg" alt="" draggable="true"></td>
    <td class="droppable"><img class="draggable" id="6" src="assets/Chessfigures/bB.svg" alt="" draggable="true"></td>
    <td class="droppable"><img class="draggable" id="7" src="assets/Chessfigures/bN.svg" alt="" draggable="true"></td>
    <td class="droppable"><img class="draggable" id="8" src="assets/Chessfigures/bR.svg" alt="" draggable="true"></td>
    </tr>
    
    <tr>
      <td class="droppable"><img class="draggable" id="9" src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
      <td class="droppable"><img class="draggable" id="10" src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
      <td class="droppable"><img class="draggable" id="11" src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
      <td class="droppable"><img class="draggable" id="12" src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
      <td class="droppable"><img class="draggable" id="13" src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
      <td class="droppable"><img class="draggable" id="14" src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
      <td class="droppable"><img class="draggable" id="15" src="assets/Chessfigures/bP.svg" alt="" draggable="true" ></td>
      <td class="droppable"><img class="draggable" id="16" src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
    </tr>
    
    <tr>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    </tr>
    
    <tr>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    </tr>
    
    <tr>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    </tr>
    
    <tr>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    </tr>
    <tr>
      <td class="droppable"><img class="draggable" id="17" src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="18" src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="19" src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="20" src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="21" src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="22" src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="23" src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="24" src="assets/Chessfigures/wP.svg" alt="" ></td>
    </tr>
    <tr>
      <td class="droppable"><img class="draggable" id="25" src="assets/Chessfigures/wR.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="26" src="assets/Chessfigures/wN.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="27" src="assets/Chessfigures/wB.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="28" src="assets/Chessfigures/wQ.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="29" src="assets/Chessfigures/wK.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="30" src="assets/Chessfigures/wB.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="31" src="assets/Chessfigures/wN.svg" alt="" ></td>
      <td class="droppable"><img class="draggable" id="32" src="assets/Chessfigures/wR.svg" alt="" ></td>
      </tr>   
    </table>
</div>
</div>
<router-outlet></router-outlet>
