li{
    width: 20%;
}
.eins{
    background-color: green;
}
.zwei{
    background-color: hotpink;
}
ol{
    background-color: blue;
    list-style: none;
    flex-direction: row;
    align-content: center;
}