<div>
  <div id="table">
  <table cellpadding="0" cellspacing="0"  height="100%">
    <tr>
    <td class="droppable"><img src="assets/Chessfigures/bR.svg" alt="" draggable="true" ></td>
    <td class="droppable"><img src="assets/Chessfigures/bN.svg" alt="" draggable="true"></td>
    <td class="droppable"><img src="assets/Chessfigures/bB.svg" alt="" draggable="true"></td>
    <td class="droppable"><img src="assets/Chessfigures/bQ.svg" alt="" draggable="true"></td>
    <td class="droppable"><img src="assets/Chessfigures/bK.svg" alt="" draggable="true"></td>
    <td class="droppable"><img src="assets/Chessfigures/bB.svg" alt="" draggable="true"></td>
    <td class="droppable"><img src="assets/Chessfigures/bN.svg" alt="" draggable="true"></td>
    <td class="droppable"><img src="assets/Chessfigures/bR.svg" alt="" draggable="true"></td>
    </tr>
    
    <tr>
      <td class="droppable"><img src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
      <td class="droppable"><img src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
      <td class="droppable"><img src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
      <td class="droppable"><img src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
      <td class="droppable"><img src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
      <td class="droppable"><img src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
      <td class="droppable"><img src="assets/Chessfigures/bP.svg" alt=""draggable="true" ></td>
      <td class="droppable"><img src="assets/Chessfigures/bP.svg" alt="" draggable="true"></td>
    </tr>
    
    <tr>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    </tr>
    
    <tr>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    </tr>
    
    <tr>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    </tr>
    
    <tr>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    <td class="droppable"></td>
    </tr>
    <tr>
      <td class="droppable"><img src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wP.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wP.svg" alt="" ></td>
    </tr>
    <tr>
      <td class="droppable"><img src="assets/Chessfigures/wR.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wN.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wB.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wQ.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wK.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wB.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wN.svg" alt="" ></td>
      <td class="droppable"><img src="assets/Chessfigures/wR.svg" alt="" ></td>
      </tr>   
    </table>
</div>
</div>
<router-outlet></router-outlet>
