<div id="table">
    <table>
        <tr>
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
        </tr>
        <tr>
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
        </tr>
        <tr>
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
        </tr>
        <tr>
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
        </tr>
        <tr>
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
        </tr>
        <tr>
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
        </tr>
        <tr>
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
        </tr>
        <tr>
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
            
            <td>
                <app-board-piece></app-board-piece>
            </td>       
        </tr>   
    </table>
</div>
